<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="alternate-font">Địa chỉ giao hàng</h4>
        <button (click)="saveUserAddress()" [disabled]="!checkoutForm.get('addressForm').valid || 
                !checkoutForm.get('addressForm').dirty" class="btn btn-outline-success mb-3">
            Lưu làm địa chỉ mặc định
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Tên'" formControlName="name"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Đường'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Phường'" formControlName="ward"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Quận'" formControlName="district"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Thành phố/Tỉnh'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Zipcode'" formControlName="zipcode"></app-text-input>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Quay về Giỏ hàng
    </button>
    <button [disabled]="checkoutForm.get('addressForm').invalid" class="btn btn-primary" cdkStepperNext>
        Tiếp tục <i class="fa fa-angle-right"></i>
    </button>
</div>