<div class="container mt-4">
    <div class="page-wrapper">
        <div class="heading-page">
            <h1>LIÊN HỆ</h1>
        </div>
        <div class="wrapbox-content-page">
            <div class="content-page ">
                <p><br></p>
                <h4 class="footer-title">&nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size: 15pt;"
                        data-mce-style="font-size: 15pt;">THÔNG TIN LIÊN HỆ</span></h4>
                <div class="footer-content toggle-footer">
                    <ul>
                        <li><strong>Địa chỉ:&nbsp;Đại học Sài Gòn</strong><br><br></li>
                        <li><strong>Điện thoại:&nbsp;0909 090909 ( 24/7)</strong><br><br></li>
                        <li><strong><span>Mail:</span> sneakerShopOfficial@gmail.com</strong>&nbsp;
                            &nbsp;<br><br>Facebook:&nbsp;<a href="https://www.facebook.com/"
                                data-mce-href="https://www.facebook.com/">https://www.facebook.com/SneakerShop/</a><br>Instagram:&nbsp;<a
                                href="https://www.instagram.com/"
                                data-mce-href="https://www.instagram.com/">https://www.instagram.com/SneakerShop/</a><br><br>
                        </li>
                        <li><span style="font-size: 15pt;" data-mce-style="font-size: 15pt;"><strong>Thời gian làm
                                    việc<br><br></strong></span></li>
                        <li><strong>Từ thứ 2 đến chủ nhật<br><br></strong></li>
                        <li><strong>Từ 10h đến 22h mỗi ngày</strong><br><br><strong>Dự phòng: 0923 010203</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>