<div class="container mt-5">
    <div class="row" *ngIf="order">
        <div class="col-8">
            <div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col" class="border-0 align-middle">
                                    <div class="p-1 text-uppercase">Sản phẩm</div>
                                </th>
                                <th scope="col" class="border-0 align-middle">
                                    <div class="py-1 text-uppercase">Giá</div>
                                </th>
                                <th scope="col" class="border-0 align-middle">
                                    <div class="py-1 text-uppercase">Số lượng</div>
                                </th>
                                <th scope="col" class="border-0 align-middle">
                                    <div class="py-1 text-uppercase">Tổng cộng</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of order.orderItems">
                                <th scope="row">
                                    <div class="p-2">
                                        <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid"
                                            style="max-height: 50px">
                                        <div class="ml-3 d-inline-block align-middle">
                                            <h5 class="mb-0 alternate-font">
                                                {{item.productName}}
                                            </h5>
                                        </div>
                                    </div>
                                </th>
                                <td class="align-middle"><strong>{{item.price | currency:"VND":"₫"}}</strong></td>
                                <td class="align-middle text-center">
                                    <span class="font-weight-bold px-2">{{item.quantity}}</span>
                                </td>
                                <td class="align-middle"><strong>{{item.price * item.quantity | currency:"VND":"₫"}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-primary text-white px-4 py-3 text-uppercase font-weight-bold ">Tóm tắt Đơn đặt hàng</div>
            <div class="p-4">
                <ul class="list-unstyled mb-1">
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Tổng giá đơn đặt hàng</strong>
                        <strong>{{order.subtotal | currency:"VND":"₫"}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Phí giao hàng</strong>
                        <strong>{{order.shippingPrice | currency:"VND":"₫"}}</strong>
                    </li>
                    <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Tổng cộng</strong>
                        <strong>{{order.total | currency:"VND":"₫"}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>